
*,
*::before,
*::after {
    box-sizing: border-box;
} 

img{
    display: block;
    max-width: 100%;
}
body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px; 
    background-color: #ffffff;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none; 
}

.container {
    max-width:1440px;
    padding-left: 0px;  
    padding-right: 0px; 
    margin-left: auto; 
    margin-right: auto;
}

/*Обнуляющий стиль*/

/*Шапка*/
.hedader {
    background: #FFF;
    display: flex;
}
.menu{
    margin-right: 332px; 
}
.menu-link{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 156px;
    margin-right: 76px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;


}
.menu-link-studio {
    color: #2e2f42 ;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;;
    text-transform: uppercase;
}

.menu-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-item-link {
    color: #2E2F42;
    font-size:16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;  
}
.menu-item-link:hover,
.menu-item-link:focus,
.menu-item-link:active{
    color:#404bbf;
}

.contacts {
    letter-spacing: 0.32px;
    font-style: normal;
    font-size:16px; 
    line-height: 24px;
}
.contacts-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;

}
.contacts-link{
    
}
.contacts-link-mail-tell{
    color:#434455; 
}

.contacts-link-mail-tell:hover,
.contacts-link-mail-tell:focus{
    color: #404bbf
}

/*Банер*/
.banner {
    background: #2E2F42;
    display: inline-flex;
    padding: 188px 472px;
    flex-direction: column;
    align-items: center;
    gap: 48px;

}
.banner-title {
    color:#FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
}
.banner-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #FFF;
    cursor:pointer; 
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px; 
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
}
.banner-button:hover,
.banner-button:focus{
    background: #404BBF;
}

/*Скилы*/
.soft-skills {
    
}
.soft-skills-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    padding: 156px 120px;

}
.soft-skills-item {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.soft-skills-item-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.soft-skills-item-text{
    color:#434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/*Команда*/
.team {
    background:#F4F4FD;
    padding: 120px 156px;
    
    
}
.team-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list {
    display: inline-flex;
    gap: 24px;
}
.team-item {
    display: flex;
    padding-bottom: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    
}

.team-item-title{
    color:#2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2 ;
    letter-spacing: 0.4px;
}
.team-item-text{
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;   
}

/*Портфолио*/
.portfolio {
    background: #FFF;
}
.portfolio-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
    padding-top: 120px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 72px 156px 120px 156px;
}
.portfolio-item {
    line-height: 1.11;
    background: #FFF;
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border: 1px solid #E7E9FC;
    background:  #FFF;
}
.portfolio-item :not(3),
.portfolio-item :not(6){
gap: 32px;
}


.portfolio-item-title{
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;

}
.portfolio-item-text{
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/*Подвал*/
.down {
    background: #2E2F42;
    height: 312px;
    flex-shrink: 0;
    padding-left: 156px;
    padding-top: 100px;
}

.down-link{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    }
.down-link-studio{
    justify-content: center;
    color:#F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.down-text{
    color:#F4F4FD;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.32px;
    width: 264px;
}










